/* app css stylesheet */

body {
    padding-top: 80px;
    padding-bottom: 180px;
}

.weather.panel {
    /*font-weight: lighter !important;*/
}

.weather.panel .panel-heading {
    font-weight: lighter !important;
    font-size: 1.2em;
}

.weather.panel .panel-footer {
    font-weight: lighter !important;
}

/* Background color des temperatures */
.bleu-clair {
  background-color: #3498db;
}
.bleu {
  background-color: #2980b9;
}
.vert {
  background-color: #1abc9c;
}
.jaune {
  background-color: #f1c40f;
}
.orange {
  background-color: #f39c12;
}
.orange-fonce {
  background-color: #e67e22;
}
.rouge {
  background-color: #e74c3c;
}
.cramoisi {
  background-color: #c0392b;
}
